body {
  background-color: #fdf6e3;
  color: #657b83;
  font-family: sans-serif;
}

h1 {
  color: #586E75;
  margin: 0 0 0.67em 0;
}

a {
  color: #b58900;
  font-weight: bold;
  margin: 0.2em 0.5em 0 0;
}

.title {
  color: #cb4b16;
  text-align: center;
}

#header {
  height: 5em;
  width: 100%;
}

#left {
  float: left;
  text-align: right;
  width: 15em;
}

#content {
  float: left;
}

#right {
  float: right;
  width: 15em;
}

#footer {
  clear: both;
  width: 100%;
}
