body {
  background-color: #fdf6e3;
  color: #657b83;
  font-family: sans-serif;
  /*border: dotted green 1px;*/
  margin: 4em auto 4em auto;
  width: 800px;
}

h1 {
  color: #586E75;
  margin: 0 0 0.67em 0;
}

a {
  color: #b58900;
  font-weight: bold;
  margin: 0 0 0.25em 0;
  text-decoration: none;
}

a:hover {
  color: #cb4b16;
}

#copyright {
  color: #93a1a1;
  font-size: 80%;
  text-align: center;
}

.name {
  color: #cb4b16;
}

.postTitle {
  color: #586e75;
  margin-bottom: 0em;
}

.postDate {
  color: #93a1a1;
  margin-top: 0em;
}
