@import "base/solarized";

// Main Link Colors
$link-color: $solar-blue !default;
$link-color-hover: adjust-color($link-color, $lightness: 10, $saturation: 25) !default;
$link-color-visited: adjust-color($link-color, $lightness: -10, $saturation: -15) !default;
$link-color-active: adjust-color($link-color-hover, $lightness: -15) !default;

// Main Section Colors
$main-bg: $base3 !default;
$page-bg: darken($base00, 20) !default;

$header-bg: $base03 !default;
$header-border: lighten($header-bg, 15) !default;
$title-color: $solar-yellow !default;
$subtitle-color: $base1 !default;

$text-color: $base00 !default;
$text-color-light: $base1 !default;

/* Navigation */
$nav-bg: $base02 !default;
$nav-color: $base01 !default;
$nav-color-hover: lighten($nav-color, 10) !default;

/* Sidebar colors */
$sidebar-bg: $base2 !default;
$sidebar-color: $base1 !default;
$sidebar-link-color: $link-color !default;
$sidebar-link-color-hover: $link-color-hover !default;
$sidebar-link-color-subdued: desaturate($sidebar-link-color, 25) !default;
$sidebar-link-color-subdued-hover: $sidebar-link-color-hover !default;
$twitter-status-link: $sidebar-color !default;

/* Footer colors */
$footer-color: $nav-color !default;
$footer-bg: $nav-bg !default;
$footer-link-color: $footer-color !default;
$footer-link-color-hover: lighten($footer-color, 10) !default;